<div
  [class]="myColor"
  [style.backgroundColor]="'pink'"
  [style.fontSize.px]="18"
  [style.fontWeight]="myFontWeight"
  (click)="myColor = 'dark'"
  (click)="changeFontWeight(600)"
>
  It works! {{ x }}, {{ user.name }}
</div>
<div>
  <input type="text" #inputValue placeholder="enter your name..." />
  <button (click)="changeName(inputValue.value)">Confirm</button>
</div>
<div *ngIf="isShown">I am years {{ user.age }} old</div>
<button (click)="toggleShown()">Hide my age</button>

<ul>
  <li *ngFor="let friend of friends">
    <app-user-card
      [toggleAge]="toggleAge"
      [isAgeShown]="isAgeShown"
      [friend]="friend"
      (friendSelected)="selectedFriend = friend"
    ></app-user-card>
  </li>
</ul>

<h1>EventEmitter works? {{ selectedFriend?.name }} says yes</h1>
